# Node / Svelte
node_modules/
.svelte-kit/
.DS_Store

# Ignore big source binaries
*.bin

# But explicitly allow chunked files
!docs/data/LAs/chunks/
!docs/data/LAs/chunks/*.bin
!static/data/LAs/chunks/
!static/data/LAs/chunks/*.bin

static/data/ALL_LAYERS/
docs/data/ALL_LAYERS/

#python stuff 
.venv/
scripts/
static/data/